CLOUD_ROUTER_IP=1.2.3.4

# Allow traffic from private IPs (consider specifying ports / protocols, or restricting addresses)
ufw allow from 10.0.0.0/8
ufw allow from 172.16.0.0/12
ufw allow from 192.168.0.0/16

# Allow traffic from cloud router (consider specifying ports / protocols)
ufw allow from $CLOUD_ROUTER_IP/32